<% content_for(:title, 'Volunteer | YMTEC') %>

<div class="row">
  <div class="small-12 columns">
    <h1>Volunteer to help out</h1>
  </div>
</div>

<div class="row">
  <div class="small-6 columns left">
    <p>
      The Young Engineering and Technology Club relies on adult volunteers to help out on a Saturday morning. All our helpers have an interest or passion to promote technology and engineering to the next generation, to provide them with an opportunity to experiment and explore different aspects of their creativity and encourage them.
    </p>
    <p>
      Not all our volunteers are professional engineers, some do not even work in areas of technology, but all see the club as providing a place for children to develop their skills and understanding and want to support that.
    </p>
    <p>
      We cater for as many different aspects of technology and engineering as is possible and practical from mechanics and electronics as well as a bit of programming, so if you have an interest, passion or hobby in any technological area and would like to help our youngsters, we would love to hear from you.
    </p>
    <p>
      You need to be over 18. In the firsts instance use the form below to tell us a little about yourself and interests in the club and how you feel you could contribute. Once submitted, someone will get back to you and arrange a visit and discussion at the club. If we decide to take matters further, we will need to undertake and Enhanced DBS check on you
    </p>
  </div>

  <div class="small-6 columns panel right">
    <%= form_for @volunteer, url: volunteer_path do |f| %>

      <%= f.zurb_text_field :firstname, label: { label: "First name" } %>

      <%= f.zurb_text_field :lastname, label: { label: "Last name" } %>

      <%= f.zurb_text_field :email %>

      <%= f.zurb_text_field :phone_no, label: { label: "Phone number" } %>

      <%= f.zurb_text_area :why, label: { label: "Why do you want to get involved?" }, field: { rows: 5 } %>

      <%= f.zurb_text_area :experience, label: { label: "What experience do you have?" }, field: { rows: 5 } %>

      <%= f.zurb_text_area :comments, label: { label: "Any other comments?" }, field: { rows: 5 } %>

      <%= f.submit "Send", class: "button round right" %>
    <% end %>
  </div>
</div>
