<%= form_for([:admin, @newsitem]) do |f| %>
	<%= f.text_field :title, autofocus: true %>
	<%= f.text_area :content, rows: 10 %>
	<div class="right">
		<%= f.submit class: 'button round' %>
		<%= link_to 'Cancel', admin_newsitems_path, class: 'button alert tiny' %>
	</div>
<% end %>