<% content_for(:title, "News | #{@newsitem.title}") %>

<div class="row">
	<div class="small-12 columns">
		<h1 class="newsitem">
			<%= @newsitem.title %>
			<span>
				Posted on <%= @newsitem.created_at.strftime('%A %-d %B %Y') %>
				at <%= @newsitem.created_at.strftime('%l:%M %p') %>
			</span>
		</h1>
		<p>
			<%= @newsitem.content %>
		</p>
		<p>
			<%= link_to '&laquo; Back to all news'.html_safe, newsitems_path(anchor: "newsitem-#{@newsitem.id}") %>
	</div>
</div>