Email from: #{@parent}
\===============================================

Their child, #{@child}, a #{@gender} aged #{@age} (#{@dob}) is interested
in joining the club for the #{@session_time} session.

\#{@child}'s #{@relationship} has the following comments:

\#{@comments}
