!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Email from #{@parent}
    %p
      Their child, #{@child}, a #{@gender} aged #{@age} (#{@dob}) is interested
      in joining the club for the #{@session_time} session.
    %p
      = @child
      's #{@relationship} has the following comments:
    %p
      = @comments
