<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Email from <%= @parent %></h1>
    <p>
      Their child, <%= @child %>, a <%= @gender %> aged <%= @age %> (<%= @dob %>) is interested
      in joining the club.
    </p>
    <p>
      <%= @child %>'s <%= @relationship %> has the following comments:
    </p>
    <p>
      <%= @comments %>
    </p>
  </body>
</html>