Email from: #{@firstname} #{@lastname}
\===============================================

\#{@firstname} would like to volunteer to help out at the club.

Phone number: #{@phone_no}

Reasons why:
\#{@why}

Experience
\#{@experience}

Other comments:
\#{@comments}
