<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Email from <%= @firstname %> <%= @lastname %></h1>
    <p>
      Phone number: <%= @phone_no %>
    </p>
    <p>
      <%= @firstname %> would like to volunteer to help out at the club.
    </p>
    <h4>Reasons why:</h4>
    <p>
      <%= @why %>
    </p>
    <h4>Experience</h4>
    <p>
      <%= @experience %>
    </p>
    <h4>Other comments</h4>
    <p>
      <%= @comments %>
    </p>
  </body>
</html>
