<% content_for(:title, 'Contact Us') %>

<div class="row">
	<div class="small-12 columns">
		<h1>Contact Us</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<%= form_for @message, url: contact_us_path do |f| %>
			
			<%= f.zurb_text_field :name %>

			<%= f.zurb_text_field :email %>

			<%= f.zurb_text_area :comment, label: { label: "Message" }, field: { rows: 10 } %>

			<%= f.submit "Send", class: "button round right" %>
		<% end %>
	</div>
</div>