<li class="has-dropdown">
	<a href="#"><%= current_user.firstname %></a>
	<ul class="dropdown">
		<li><%= link_to 'My Profile', user_path(current_user) %></li>
		<li><%= link_to 'Settings', edit_user_path(current_user) %></li>
		<li class="divider"></li>
		<% if current_user.admin? %>
			<li><%= link_to 'Admin Dashboard', admin_dashboard_path %></li>
			<li class="divider"></li>
		<% end %>
		<li><%= link_to 'Sign out', signout_path, method: :delete %></li>
	</ul>
</li>