<% content_for(:title, 'Southend Young Makers Club') %>

<% content_for(:index_header) do %>
	<div id="preload">
		<%= image_tag(image_path('circuit.jpg')) %>
		<%= image_tag(image_path('toolbox.jpg')) %>
		<%= image_tag(image_path('machine.jpg')) %>
		<%= image_tag(image_path('wires.jpg')) %>
	</div>

	<div class="header-large">
		<div class="row">
			<div class="large-push-2 medium-push-2 large-8 medium-8 small-12 columns text-center">
				<%= image_tag(image_path('logo.png'), id: 'logo') %>
	      <h1>Southend Young Makers Club</h1>
			</div>
		</div>
	</div>
<% end %>

<section id="slide-1" class="homeSlide">
	<div class="slide-background"
        data-top="background-position: 0px 0px;"
        data-top-bottom="background-position: 0px -200px;"
        data-anchor-target="#slide-1">
    <article class="over-photo" data-center="opacity: 1" data-anchor-target="#slide-1 article">
    	<div class="row">
    		<div class="large-push-2 medium-push-2 large-8 medium-8 small-12 columns text-center">
		      <h1>Southend Young Makers Club</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<p>
						<%= link_to "Register Interest", register_interest_path, class: 'button round' %>
					</p>
				</div>
			</div>
		</article>
	</div>
</section>

<section id="slide-2">
	<div class="plain-slide-background" data-anchor-target="#slide-2">
		<div class="content-slide">
			<article data-anchor-target="#slide-2 article" id="news" data-menu-offset="-250">
				<div class="row">
					<% if @newsitem %>
						<div class="small-8 columns">
							<h4 class="newsitem">
								<%= link_to @newsitem.title, @newsitem %>
								<span>
									Posted on <%= @newsitem.created_at.strftime('%A %-d %B %Y') %>
									at <%= @newsitem.created_at.strftime('%l:%M %p') %>
								</span>
							</h4>
							<p>
								<%= @newsitem.content %>
							</p>
						</div>
					<% else %>
					<div class="small-8 columns">
						<h4 class="newsitem">There is no news!</h4>
					</div>
					<% end %>
					<div class="small-4 columns">
						<h1>Latest News</h1>
						<p><%= link_to 'All news &raquo;'.html_safe, newsitems_path %></p>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>

<section id="slide-3" class="homeSlide">
	<div class="slide-background"
        data-top="background-position: 0px 0px;"
        data-top-bottom="background-position: 0px -200px;"
        data-bottom-top="background-position: 0px 200px;"
        data-anchor-target="#slide-3">
<!--       <article class="over-photo" data-center="opacity: 1" data-anchor-target="#slide-1 article">
    	<div class="quotation">
				<p class="right">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
					<span class="right">Joe Bloggs, 14</span>
				</p>
			</div>
		</article> -->
	</div>
</section>

<section id="slide-4">
	<div class="plain-slide-background" data-anchor-target="#slide-4">
		<div class="content-slide">
			<article data-anchor-target="#slide-4 article" id="about" data-menu-offset="-250">
				<div class="row">
					<div class="small-4 columns">
						<h1>About the Club</h1>
						<p><%= link_to 'Full details &raquo;'.html_safe, about_path %></p>
					</div>
					<div class="small-8 columns">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>

<section id="slide-5" class="homeSlide">
	<div class="slide-background"
        data-top="background-position: 0px 0px;"
        data-top-bottom="background-position: 0px -200px;"
        data-bottom-top="background-position: 0px 200px;"
        data-anchor-target="#slide-5">
    <!-- <article class="over-photo" data-center="opacity: 1" data-anchor-target="#slide-5 article">
    	<div class="row">
    		<div class="large-12 columns">
		      <h1>News</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
		</article> -->
	</div>
</section>

<section id="slide-6">
	<div class="plain-slide-background" data-anchor-target="#slide-6">
		<div class="content-slide">
			<article data-anchor-target="#slide-6 article" id="location" data-menu-offset="-250">
				<div class="row">
					<div class="large-9 medium-9 small-9 columns">
						<div id="map"></div>
					</div>
					<div class="large-3 medium-3 small-3 columns">
						<h1>Location</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.
						</p>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>

<section id="slide-7" class="homeSlide">
	<div class="slide-background"
        data-top="background-position: 0px 0px;"
        data-top-bottom="background-position: 0px -200px;"
        data-bottom-top="background-position: 0px 200px;"
        data-anchor-target="#slide-7">
    <!-- <article class="over-photo" data-center="opacity: 1" data-anchor-target="#slide-7 article">
    	<div class="row">
    		<div class="large-12 columns">
		      <h1>News</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
		</article> -->
	</div>
</section>

<section id="slide-8">
	<div class="plain-slide-background" data-anchor-target="#slide-8">
		<div class="content-slide">
			<article data-anchor-target="#slide-8 article" id="join" data-menu-offset="-250">
				<div class="row">
					<div class="large-4 medium-4 small-4 columns">
						<div class="text-center">
							<h1>Join In</h1>
							<%= link_to "Register Interest", register_interest_path, class: 'button round' %>
							<a href="#">Volunteer to help</a>
						</div>
					</div>
					<div class="large-8 medium-8 small-8 columns">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>

<% content_for(:view_specific_javascript) do %>
	<%= render 'google_maps' %>
<% end %>