<%= form_for([:admin, @user]) do |f| %>
	<%= f.zurb_text_field :firstname %>
	<%= f.zurb_text_field :lastname %>
	<%= f.zurb_text_field :email %>
	<%= f.zurb_password_field :password %>
	<%= f.zurb_password_field :password_confirmation %>
	<% unless current_user?(@user) %>
		<%= f.zurb_grouped_radio_buttons :admin, {no: false, yes: true}, default: false, label: "Is user an administrator?" %>
	<% end %>
	<div class="right">
		<%= f.submit class: 'button round' %>
		<%= link_to 'Cancel', admin_users_path, class: 'button alert tiny' %>
	</div>
<% end %>