<%= form_for([:admin, @user], builder: FoundationFormBuilder) do |f| %>
	<%= f.text_field :firstname %>
	<%= f.text_field :lastname %>
	<%= f.text_field :email %>
	<%= f.password_field :password %>
	<%= f.password_field :password_confirmation %>
	<%= f.grouped_radio_buttons :admin, {no: false, yes: true}, default: false, label: "Is user an administrator?" %>
	<div class="right">
		<%= f.submit class: 'button round' %>
		<%= link_to 'Cancel', admin_users_path, class: 'button alert tiny' %>
	</div>
<% end %>