<header>
	<% if content_for(:index_header) %>
		<%= content_for(:index_header) %>
	<% end %>
	<div class="sticky">
		<nav class="top-bar" data-topbar data-options="sticky_on: large; is_hover: false; mobile_show_parent_link: true">
			<ul class="title-area">
				<li class="name">
					<h1><%= link_to 'SYMC', root_path %></h1>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li class="<%= active_page?(newsitems_path) %>"><%= link_to 'News', newsitems_path %></li>
					<li class="<%= active_page?(about_path) %>"><%= link_to 'About', about_path %></li>
					<li class="<%= active_page?(location_path) %>"><%= link_to 'Location', location_path %></li>
					<li class="<%= active_page?(register_interest_path) %>"><%= link_to 'Join In', register_interest_path %></li>
				</ul>
				<ul class="left">
					<% if signed_in? %>
						<%= render 'admin/layouts/user_dropdown_menu' %>
					<% end %>
				</ul>
			</section>
		</nav>
		<%= render 'layouts/flash' %>
	</div>
</header>