!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "YMTEC"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body{:"data-spy" => (content_for(:body_tag_data_spy) ? content_for(:body_tag_data_spy) : ''),
        :"data-target" => (content_for(:body_tag_data_target) ? content_for(:body_tag_data_target) : ''),
        :class => (content_for(:body_tag_class) ? content_for(:body_tag_class) : '')}
    #page-wrapper
      = render 'layouts/header'
      %main
        = yield
      = render 'layouts/footer'
    = javascript_include_tag "application"
    - if content_for(:view_specific_javascript)
      = content_for(:view_specific_javascript)
